{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}

<form method="post">

        <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous éte connecté en tant que {{ app.user.username }} <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% endif %}


            <!-- Icon -->
            <div class="fadeIn first">
    
            <img src="https://eleven-strategy.fr/wp-content/uploads//bfi_thumb/learnmore-api-30hd9o2d4ui075zpjczd5y0n4amoucosrvv3kmaemru7bajds.png" id="logo" alt="logo utilisateur" />

            </div>

            <!-- Login Form -->
            <form>
            <input type="text" id="inputUsername" value="{{ last_username }}" class="fadeIn second" name="username" required autofocus placeholder="Nom de compte">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="Mot de passe">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            
            <input type="submit" class="fadeIn fourth btn-login btn-5" value="Se connecter">

            <a href="{{ path('app_register') }}">
            <input type="button" class="fadeIn fourth btn-register btn-5" value="S'inscrire">
            </a>

            <!-- Remind Passowrd 
            <div id="formFooter">
            <a class="underlineHover" href="#">Retour au site</a>
            </div>
            -->
        </div>
        </div>
</form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('login') }}
{% endblock %}
