{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('inscription') }}
{% endblock %}
{% block body %}

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
        <img src="https://eleven-strategy.fr/wp-content/uploads//bfi_thumb/learnmore-api-30hd9o2d4ui075zpjczd5y0n4amoucosrvv3kmaemru7bajds.png" id="logo" alt="logo utilisateur" />
    </div>

    <!-- Login Form -->
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword) }}
        <div class="fadeIn fourth">
          {{ form_row(registrationForm.agreeTerms) }}
        </div>
        <input type="submit" class="fadeIn fourth btn-register btn-5" value="S'inscrire">
    {{ form_end(registrationForm) }}
    <a href="{{ path('app_login') }}">
      <input type="button" class="fadeIn fourth btn-login btn-5" value="J'ai deja un compte">
    </a>

    <!-- Remind Passowrd 
    <div id="formFooter">
      <a class="underlineHover" href="index">Retour au site</a>
    </div>
-->
  </div>
</div>

   
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('inscription') }}
{% endblock %}



