{% extends 'base.html.twig' %}

{% block title %}Modificatin d'alert{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('crud') }}
{% endblock %}

{% block body %}
<div class="box_form">

 <a  href="{{ path('alert_index') }}"><i class="material-icons retour mt-2">
keyboard_backspace
</i></a>

    <h1 class="center-align pt-1" >Modifier l'alerte</h1>

    {{ include('alert/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('crud') }}
{% endblock %}
