{% extends 'base.html.twig' %}

{% block title %}Les alertes{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('crud') }}
{% endblock %}

{% block body %}
<div class="box_form">
    <h1 class="center-align pt-1" >Les alertes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Designation</th>
                <th>Date de debut</th>
                <th>Date de fin</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alert in alerts %}
            <tr>
                <td>{{ alert.designation }}</td>
                <td>{{ alert.dateDebut ? alert.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ alert.dateFin ? alert.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ alert.afficher ? 'Publié' : 'Non publié' }}</td>
                <td>
                <!--
                    <a class="btn-floating btn-medium waves-effect waves-light blue" href="{{ path('alert_show', {'id': alert.id}) }}"><i class="material-icons">remove_red_eye</i></a>
                 -->
                    <a class="btn-floating btn-medium waves-effect waves-light green" href="{{ path('alert_edit', {'id': alert.id}) }}"><i class="material-icons">update</i></a>
                    {{ include('alert/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </br>
<div class="center-align">
    <a href="{{ path('alert_new') }}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
</div>
 
</div> 
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('crud') }}
{% endblock %}

